:root {
   
    /*цвета текста*/
    --primary-txt: #134001;
    --secondary-txt:#595959;
    --black-txt: #000000;
    --accent-txt:#fb603a;

    /*цвета фона*/
    --primary-bg:#ffffff;
    --accent-bg: #0a2400;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color:var(--primary-bg);
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3, 
h4, 
p,
ul,
ol,
li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.main-section{
    display: flex;
    width: 900px;
    background-color:var(--primary-bg);
}

/* main-section */
.main-content-section{
padding: 40px 40px 80px 40px;
}

.title-section{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color:var(--primary-txt);
    margin-bottom: 12px;
}

.company {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--accent-txt);
    margin-bottom: 8px;
}

.position {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-txt);
    margin-bottom: 8px;
}

.period {
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-txt);
    margin-bottom: 12px;
}



/* about-me-section */
.about-me-section{
    margin: 0 0 40px 0;
}

.about-me-professional{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color:var(--accent-txt);
    margin-bottom: 16px;
}

.about-name{
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    color:var(--primary-txt);
    margin-bottom: 16px;
}

.about-me-description{
    width: 500px;
    font-size: 14px;
    line-height: 24px;
    color:var(--secondary-txt);
}

/* projects-section */
.projects-section,
.education-section{
    width: 460px;
    margin: 0 0 50px 0;
}

.projects-list{
    font-weight: bold;
    padding-left: 18px;
    color: var(--primary-txt);
}

.projects-item{
    color:var(--primary-txt);
    margin-bottom: 8px;
}

.projects-item:last-child {
    margin-bottom: 0;
}

.projects-link{
    font-size: 16px;
    line-height: 28px;
    color: var(--accent-txt);
}

.projects-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color:var(--secondary-txt);
    margin-left: 4px;
}

.projects-bracket{
    font-weight: bold;
    color:var(--primary-txt);
}

.projects-code{
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-txt);
}

.about-projects{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-txt);
    margin-left: -18px;
}


/* work-experience */
.work-experience-section{
margin-bottom: 40px;
}

.divider{
    padding-left: 4px;
    padding-right: 4px;
    color:var(--primary-txt); 
}

.work-experience-duties{
    width: 460px;
    padding: 0 0 0 18px;
}

.work-experience-duty-item{
    font-size: 14px;
    line-height: 24px;
    color:var(--secondary-txt);
    margin-bottom: 8px;
}

.work-experience-duty-item:last-child {
    margin-bottom: 0px;
}

.work-experience-company-block{
    margin: 0 16px 0 0;
}

.education-period{
    font-size: 12px;
    line-height: 16px;
    color: var(--secondary-txt);
    margin-bottom: 0px;
}

.Add-education-section {
    margin: 0;
}


/*--------------------------*/
/* sidebar section */
/*-------------------------*/
.sidebar-section{
    background-color: var(--accent-bg);
    width: 300px;
    padding: 40px 0 80px 0;
}

.photo{
    display: block; 
    width: 100%; 
    /* height: 320px; */
    margin-left: auto;
    margin-right: auto;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section,
.language-skills-section{
    margin: 40px 40px 0 40px;
}

.sidebar-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color:var(--accent-txt);
    margin-bottom: 12px;
}

/* contacts section */
.contacts-section-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color:var(--primary-bg);
    margin-right: 10px;
}

.contacts-link{
    color:var(--primary-bg);
    font-size: 14px;
    line-height: 24px;
}

.soft-skills-list,
.tech-skills-list,
.language-skills-list{
    padding: 0 0 0 16px;
}
.contacts-list{
    list-style-type: none;
    padding: 0;
}

.contacts-item,
.soft-skills-item,
.tech-skills-item,
.language-skills-item{
    color:var(--accent-txt);

}

.soft-skills-item-text,
.tech-skills-item-text,
.language-skills-text{
    font-size: 14px;
    line-height: 24px;
    color:var(--primary-bg);
}